<%= form_with(model: oenologist) do |form| %>
  <% if oenologist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(oenologist.errors.count, "error") %> prohibited this oenologist from being saved:</h2>

      <ul>
        <% oenologist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :age, style: "display: block" %>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.label :nationality, style: "display: block" %>
    <%= form.text_field :nationality %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
