<!DOCTYPE html>
<html>
  <head>
    <title>Cepas2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <%if current_friend %>
        <p>Hello  <%= current_friend.email %>! </p>
        <p><%= link_to "Logout", destroy_friend_session_path, 'data-turbo-method': :delete %> </p>
      <% else %>
        <p>You are not signed in </p>
      <%= link_to "Sign Up!", new_friend_registration_path %>
      <%= link_to "Login!", new_friend_session_path %>
      <% end %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
   </body>
</html>
